# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build results
Server/lib/Web/public/js/**
!Server/lib/Web/public/js/jquery.js
dist/
build/

# Config files (Sensitive)
Server/lib/sub/global.json
Server/lib/sub/auth.json
*.env
*.inc.json

# Logs
*.log
KKUTU_ERROR.log

# OS & Editors
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tmp
*.bak
pub.txt
Works.txt
vulnerability.md

# Database
db.sql